body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

/* FONTS */
@font-face {
    font-family: anton;
    src: url('/fonts/anton.ttf');
}

@font-face {
    font-family: playfair-display;
    src: url('/fonts/playfair-display-regular.ttf');
}

@font-face {
    font-family: adobe-caslon;
    src: url('/fonts/adobe-caslon.ttf');
}


/* large desktops and up ----------- */
@media screen and (min-width: 1600px) {
    .main-title {
        font-size: 18em;
    }

    .sub-title {
        font-size: 5em;
    }

    .scroll-text {
        font-size: 3em;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
    .main-title {
        font-size: 10em;
    }

    .sub-title {
        font-size: 2.5em;
    }

    .scroll-text {
        font-size: 3em;
    }
}

/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
    .main-title {
        font-size: 7em;
    }

    .sub-title {
        font-size: 2em;
    }

    .scroll-text {
        font-size: 2em;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .main-title {
        font-size: 6em;
    }

    .sub-title {
        font-size: 1.5em;
    }

    .scroll-text {
        font-size: 1em;
    }

}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
    .main-title {
        font-size: 2em;
    }

    .sub-title {
        font-size: 0.75em;
    }

    .scroll-text {
        font-size: 1em;
    }
}

@media only screen and (orientation: portrait) {
    .section {
        display: none !important;
    }
}

@media only screen and (orientation: landscape) {
    .landscape-indicator {
        display: none !important;
    }
}


/* FONT STYLING */
.anton {
    font-family: anton;
}

.playfair-display {
    font-family: playfair-display;
}

.uppercase {
    text-transform: uppercase;
}

/* GENERAL CSS */
.no-padding-margin {
    margin: 0;
    padding: 0;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

/* FLEX DISPLAY CSS */
.flex-r {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
}

.flex-c {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
}

.align-v {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.justify-c {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* HOME STYLING */
.blue-shape, .purple-shape, .orange-shape, .logo-text-wrapper {
    position: absolute;
}

.main-title {
    text-align: center;
    color: white;
}

.sub-title {
    text-align: center;
    color: white;
}

.scroll-text {
    color: #622a70;
    margin-bottom: 1%;
    /* font-size: 3em; */
    letter-spacing: 15px;
    white-space: nowrap;
    /* height: 10%; */
    text-align: center;
    /* bottom: 0; */
    /* position: absolute; */
}

/* QUOTES */
.quote-me {
    font-size: 15em;
    color: white;
}

.quotes {
    display: none;
    color: white;
    font-size: 5em;
    letter-spacing: 5px;
    position: absolute;
    bottom: 0;
    white-space: nowrap;
}
