/* FONTS */
@font-face {
    font-family: anton;
    src: url('/fonts/anton.ttf');
}

@font-face {
    font-family: roboto;
    src: url('/fonts/roboto.ttf');
}

.roboto-bold {
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-bold-italic {
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-italic {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-regular {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.anton {
    font-family: anton, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.25;
}

.scroll-smooth {
    scroll-behavior: smooth;
}

.scroll-auto {
    scroll-behavior: auto;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #713f7e;
}
